body {
    margin-top: 50px;
}

.jumbotron {
    margin-top: 200px;

}

.jumbotron img {
    width: 10px;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}
